.starter-template
{
  margin: auto;
  text-align: center;
}

.backcolor{
  background-color: #F0F0F0;
  padding-top:10px;

}

h5{
  color:#007bff;
  font-size: 1rem;
  i{
    font-size: 1.25rem;
  }
}

.form-control:focus {
  box-shadow: 0 0 0 0.05rem rgba(14, 123, 186, 0.25);
}

