/* You can add global styles to this file, and also import other style files */
@import "./scss/myTheme";
.container{
    margin-top:10%;
}


$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./scss/bootstrap/scss/bootstrap";


@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";

.my-custom-class .tooltip-inner {
    background-color: lightgrey;
    font-size: 1rem;
    display: inline;
    color:#484848;
  }
  .my-custom-class .arrow::before {
    border-top-color: lightgrey;
    color: lightgrey;
  }







